.header{
    background-color:lightblue;
    text-align: center;
    padding: 30px;
    border-bottom: 4px solid black;

}
#intro{
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border: 1px solid black;
}
#features{
    background-color: lightgreen;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
}
.footer{
    background-color: lightcoral;
    padding: 5px;
    text-align: center;
    color: white;
    margin-top: 10px;
    border-top: 3px solid gray;
}