#header{
    background-color: lightblue;
    text-align: center;
    padding: 10px; 
}
#main-content{
    text-align: center;
    background-color: lightyellow;
    padding: 10px;
}
#footer{
    text-align: center;
    background-color: lightgreen;
    padding: 10px;
}