h1{
    font-family: "Comic Sans MS";
    text-align: center;
}
h2,h3{
    font-family: "Comic Sans MS";

}
p{
    font-family: Arial;
}
hr{
   border: 2px solid rgb(94, 88, 185);
}
body{
    background-color:rgb(195, 219, 235);
}